


.container{
	width:1170px;
	margin:auto;
}
.container2 {
	height: 500px;
}
.navbar{
	background-color:rgba(82, 190, 19, 1);
	color:white;
	overflow:hidden;
	text-transform:uppercase;
}

.navbar h1 {float:left;
            font-size:27px
 }
.navbar h1 span {color:beige;}



.navbar ul{
	list-style:none;
	padding-left:0;
	overflow:hidden;
	float:right;
	font-family: fantasy;
}

.navbar ul li{
	float:left;
	padding:9.5px;
	cursor:pointer;
	font-family: fantasy;
}






.navbar ul li a{
	text-decoration:none;
	color:white;
}

.container1 {
	width:1330px;
	text-align: center;
	color:white;
   position: relative;
   animation-name: company;
   animation-duration: 4s;
   animation-iteration-count: infinite;
   font-family: fantasy;
}
  


@keyframes company {
  0%   {background-color:rgba(82, 190, 19, 1)}
  25%  {background-color:rgba(19, 190, 93, 1)}
  50%  {background-color:rgba(19, 176, 190, 1)}
  75%  {background-color:rgba(19, 87, 190, 1)}
  100% {background-color:rgba(82, 190, 19, 1)}
}

.styleimg{
	height:250px;
	width:252px;
	border:3px solid rgba(82, 190, 19, 1);
}


#display{
	font-size: 18px;

	text-align: center;
	font-family: fantasy;
}

#com{
	width:1300px;
	height: 75px;
	font-family: fantasy;
	text-align:center;
	border:3px solid rgba(82, 190, 19, 1);
}

#user{width:100px;
	height: 25px;
	font-family: fantasy;
	text-align:center;
	border:3px solid rgba(82, 190, 19, 1);
}}

}

#but{font-family: fantasy;
	 text-align: center;
	 float:right;
	 margin-right:22px
	 background-color:rgba(19, 87, 190, 1);
}

#label{
	font-family: fantasy;

}


#comments{font-family: fantasy;
	 text-align: left;
	 margin-right:22px

}

}